<!DOCTYPE html>

<head>
<link rel="stylesheet" href="css/public.css">
</head>
<body>
    <div class="footer">
		<div class="fbox">
			<ul>
				<li>
					<a href="product">产品展示</a>
					<ul>
						<li><a href="product?flag=mzjp">蜜中佳品</a></li>
						<li><a href="product?flag=hxsy">花香四溢</a></li>
					</ul>
				</li>
				<li>
					<a href="news">新闻资讯</a>
					<ul>
						<li><a href="news#yjzx">业界资讯</a></li>
						<li><a href="news#gsdt">公司动态</a></li>
					</ul>
				</li>
				<li>
					<a href="company">公司概况</a>
					<ul>
						<li><a href="company#gsjj">公司简介</a></li>
						<li><a href="company#jytd">精英团队</a></li>
						<li><a href="company#jrwm">加入我们</a></li>
					</ul>
				</li>
			</ul>
			<div class="info">
				<div class="iTitle">
					重庆市蜜醇商贸有限公司
				</div>
				<p>重庆市蜜醇商贸有限公司</p>
				<span>邮箱:2532487153qq.com</span>
				<span>电话：17783444065 周一至周五：8：00~18：00</span>
			</div>
		</div>
	</div>
</body>