<!DOCTYPE html>

<head>
<link rel="stylesheet" href="css/public.css">           
</head>

<body>
    <!-- 导航 -->
    <div class="allNav">
        <div class="nav">
            <!-- 导航栏logo -->
            <div class="nLeft">
                <a href="index">
                    <img src="../images/logo.jpg" alt="logo">
                </a>
            </div>
            <!-- 导航栏logo end -->

            <!-- 导航右边部分 -->
            <div class="nRight">
                <ul>
                    <li>
                        <a href="index">网站首页</a>
                    </li>
                    <li>
                        <a href="product">产品展示</a>
                        <ul>
                            <li>
                                <a href="productyz?flag=mzjp" id="mzjp">蜜中佳品</a>
                            </li>
                            <li>
                                <a href="productyz?flag=hxsy">花香四溢</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="news">新闻资讯</a>
                        <ul>
                            <li>
                                <a href="news#yjzx">
                                    业界资讯
                                </a>
                            </li>
                            <li>
                                <a href="news#gsdt">
                                    公司资讯
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="company">公司概况</a>
                        <ul>
                            <li>
                                <a href="company#gsjj">公司简介</a>
                            </li>
                            <li>
                                <a href="company#jytd">精英团队</a>
                            </li>
                            <li>
                                <a href="company#jrwm">加入我们</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="assist">蜜醇扶贫</a>
                    </li>
                </ul>

            </div>
            <!-- 导航右边结束 -->

            <!-- 登陆注册 -->
            <div class="LR">
                <input type="button" value="登陆" class="login">
                <input type="button" value="注册" class="reg">
            </div>
            <!-- 登陆注册 -->
        </div>
    </div>
    <!-- 导航end -->
</body>